/* Create three equal columns that floats next to each other */

.column {
  margin-top: 2px;
  float: left;
  width: 33.33%;
  padding: 15px;
  text-align: justify;
  /*background-color: rgb(245, 133, 52);*/
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer-1 {
  padding-left: 10px;
  margin-top: 1rem;
  font-size: 1.5rem;
  background-color: rgb(73, 112, 162);
}

footer {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  letter-spacing: 4px;

  font-size: 1.4rem;
  /*margin-top: 10.25rem;*/
  background-color: rgb(255, 255, 255);
  text-align: center;
  color: rgb(0, 0, 0);
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    border-bottom: 1.3px solid rgb(215, 216, 217);
  }
  .footer-1 {
    display: block;
    font-size: 0.5rem;
    padding: 5px 5px;
  }
  .footer-1 p {
    font-size: 1.1rem;
  }
  footer p {
    font-size: 1.1rem;
  }
}
