.container-inicio {
  column-count: 2;
  padding: 15px;
  background-color: rgb(255, 255, 255);
}
.container-inicio p {
  text-align: justify;
}

.logo-1 img {
  width: 80%;
  height: 400px;
  border: 10px solid rgb(37, 143, 78);
}
.contenedor-logo .logo-1 {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgb(255, 255, 255);
}
.logo-1 {
  position: relative;
  display: inline-block;
}

/*CONTAINER REDES SOCIALES TWITTER-FACEBOOK*/
.flexbox-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}

.flexbox-container > div.Timeline {
  width: 50%;
  padding: 10px;
  background: #fff;
}

.flexbox-container > div:first-child {
  margin-right: 10px;
}

/*EFECTO HEADER PARA TODAS LAS PAGINAS*/
.efecto {
  background-color: rgb(255, 255, 255);
  animation-name: animacion;
  animation-duration: 5s;
}

@keyframes animacion {
  from {
    background-color: rgb(73, 112, 162);
  }
  to {
    background-color: rgb(255, 255, 255);
  }
}

/*SOCIAL FEED*/
.twitter {
  display: block;
  text-align: center;
}

.titulo-twitter h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .container-inicio {
    column-count: 2;
    padding: 5px;
    background-color: rgb(255, 255, 255);
  }

  .container-inicio h1 {
    font-size: 0.98rem;
    text-align: justify;
  }

  .footer-1 {
    display: block;
    font-size: 0.5rem;
    padding: 5px 5px;
  }
  .footer-1 p {
    font-size: 1.1rem;
  }
  footer p {
    font-size: 1.1rem;
  }

  .flexbox-container {
    display: inline-block;
  }
}
