.lideres img {
  width: 100%;
  height: auto;
}
.titulo-1 h1 {
  display: block;
  text-align: center;
  font-size: 3rem;
  text-shadow: 2px 2px 5px rgb(245, 133, 52);
}

.titulo-1 p {
  display: flex;
  padding: 15px 15px;
  margin-top: 8px;
  text-align: justify;
}

@media screen and (max-width: 600px) {
  .footer-1 {
    display: block;
    font-size: 0.5rem;
    padding: 5px 5px;
  }
  .footer-1 p {
    font-size: 1.1rem;
  }
  footer p {
    font-size: 1.1rem;
  }
}
