.titulo-organigrama {
  margin-bottom: 10px;
  display: block;
  text-align: center;
  font-size: 1.5rem;
  text-shadow: 2px 2px 5px rgb(245, 133, 52);
}

@media screen and (max-width: 600px) {
  .organ {
    width: 50%;
    font-size: 0.7rem;
    display: inline-block;
    padding: 5px;
  }
}
