@media screen and (max-width: 600px) {
  .organ {
    width: 50%;
    font-size: 0.7rem;
    display: inline-block;
    padding: 5px;
  }

  .titulo-1 h1 {
    font-size: 1.6rem;
    padding: auto;
  }
}
