.sub-titulo1 h2 {
  margin-top: 10px;
  text-align: center;
  display: block;
  margin-left: 15px;
  font-size: 1.5rem;
  text-shadow: 2px 2px 5px rgb(245, 133, 52);
}
.sub-titulo1 p {
  display: flex;
  text-align: justify;
  justify-content: center;
  padding: 15px;
  margin-top: 1px;
}

.titulo-1 {
  margin-bottom: 10px;
  display: block;
  text-align: center;
  font-size: 1.5rem;
  text-shadow: 2px 2px 5px rgb(245, 133, 52);
}
