.container-2 {
  margin-top: 20px;
  column-width: 250px;
  column-gap: 20px;
  /* background-color: rgb(245, 133, 52);*/
  padding: 5px;
}

.card {
  break-inside: avoid;
  page-break-inside: avoid;
  /* background-color: rgb(73, 112, 162);*/
  border: 2px solid rgb(55, 56, 102);
  padding: 10px;
  margin: 0 0 1em 0;
}

.titulo-principios {
  margin-bottom: 10px;
  display: block;
  text-align: center;
  font-size: 1.5rem;
  text-shadow: 2px 2px 5px rgb(245, 133, 52);
}

@media screen and (max-width: 600px) {
  .footer-1 {
    display: block;
    font-size: 0.5rem;
    padding: 5px 5px;
  }
  .footer-1 p {
    font-size: 1.1rem;
  }
  footer p {
    font-size: 1.1rem;
  }
}
