.dropdown-menu {
  width: 190px;
  position: absolute;
  bottom: 80px;
  list-style: none;
  text-align: start;
}

.dropdown-menu li {
  background: rgb(245, 133, 52);
  cursor: pointer;
  border-radius: 20px;
}

.dropdown-menu li:hover {
  background: rgb(73, 112, 162);
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 14.2px;
}

@media screen and (max-width: 960px) {
  .dropdown-menu.clicked {
    display: inline-block;
    background-color: blanchedalmond;
  }
}
